{{#each article}}
<div class="article" data-id="{{_id}}">
    <h1>{{headline}}</h1>
    <img src="{{image}}" alt="" style="width: 200px">
    <p>{{summary}}</p>
    <a href="{{URL}}">Full Article</a>
</div>
<br><br>
{{/each}}